img {
  width: 6.5rem;
  height: 6.5rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.information-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#top{
display: flex;
justify-content: space-between;
}

#bottom{
display: flex;
justify-content: space-between;
}

.user-name {
  font-size: x-large;
}

.animal-name {
  font-size: larger;
}



