<div class="card shadow-sm" style="width: 16rem; height: 23rem">
  <div class="card-body">
    <div id="top">
      <img
        class="card-img-top shadow rounded float-start"
        src="{{ myUser.photo.path }}"
      />
      <div class="information-block">
        <p class="card-text user-name">{{ myUser.username }}</p>
        <p class="card-text">{{ myUser.city }}</p>
      </div>
    </div>

    <h3>Animal :</h3>

    <div
      
      *ngFor="let animal of myUser.animal"
      id="bottom"
    >
      <div class="information-block">
        <p class="animal-name">{{ animal.name }}</p>
        <p>race : {{ animal.breed.breed }}</p>
      </div>
      <div>
        <img
          class="card-img-top shadow rounded float-start"
          src="{{ animal.photo.path }}"
          alt="user's animal photo"
        />
      </div>
    </div>
  </div>
</div>

