
<div class="modal" tabindex="-1" id="modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">&#x26A0; Attention</h5>
      </div>
      <div class="modal-body">
        <p>Vous allez vous déconnecter, êtes-vous sûr(e) ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="myInput" class="btn btn-perso" data-bs-dismiss="modal" (click)="onDisconnect()">Oui</button>
        <button  type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>