<app-nav-bar></app-nav-bar>
<div class="page_form">
  <div class="img_class">
    <img
      id="photo"
      src="../../../assets/chien-embrasse-par-couple.jpg"
      alt="photo d'un couple qui embrasse simultanément un chien"
    />
  </div>

  <div class="d-flex justify-content-center">
    <div class="col-md-6 col-sm-12 form_group p-3 mb-5 rounded">
      <form
        [formGroup]="addAnimal"
        (ngSubmit)="onSubmit()"
        class="formcontainer"
      >
        <h1>Ajouter mon animal</h1>
        <div class="icon">
          <i class="fas fa-user-circle"></i>
        </div>
        <div class="container">
          <input
            formControlName="name"
            class="form-control shadow"
            id="inputName"
            placeholder="Nom"
            [ngClass]="{
              'is-invalid':
                addAnimal.get('name')?.touched && addAnimal.get('name')?.invalid
            }"
          />
          <div
            *ngIf="
              addAnimal.get('name')?.touched && addAnimal.get('name')?.invalid
            "
            class="invalid-feedback"
          >
            Le nom est requis.
          </div>

          <input
            formControlName="age"
            class="form-control shadow"
            id="inputAge"
            placeholder="Age"
            [ngClass]="{
              'is-invalid':
                addAnimal.get('age')?.touched && addAnimal.get('age')?.invalid
            }"
          />
          <div
            *ngIf="
              addAnimal.get('age')?.touched && addAnimal.get('age')?.invalid
            "
            class="invalid-feedback"
          >
            L'âge est requis.
          </div>

          <div class="d-flex flex-row m-0 align-items-center">
            <select
              name="id_breed"
              id="id_breed"
              class="form-control shadow"
              formControlName="id_breed"
              [ngClass]="{
                'is-invalid':
                  addAnimal.get('id_breed')?.touched &&
                  addAnimal.get('id_breed')?.invalid
              }"
            >
              <option value="">La race de mon animal</option>
              <option *ngFor="let breed of breeds" value="{{ breed.id_breed }}">
                {{ breed.breed }}
              </option>
            </select>
            <div
              *ngIf="
                addAnimal.get('id_breed')?.touched &&
                addAnimal.get('id_breed')?.invalid
              "
              class="invalid-feedback"
            >
              La race est requise.
            </div>

            <select
              name="id_sex_animal"
              id="id_sex_animal"
              class="form-control shadow"
              formControlName="id_sex_animal"
              [ngClass]="{
                'is-invalid':
                  addAnimal.get('id_sex_animal')?.touched &&
                  addAnimal.get('id_sex_animal')?.invalid
              }"
            >
              <option value="">Le sexe de mon animal</option>
              <option
                *ngFor="let sex_animal of sex_Animals"
                value="{{ sex_animal.id_sex_animal }}"
              >
                {{ sex_animal.sex }}
              </option>
            </select>
            <div
              *ngIf="
                addAnimal.get('id_sex_animal')?.touched &&
                addAnimal.get('id_sex_animal')?.invalid
              "
              class="invalid-feedback"
            >
              Le sexe est requis.
            </div>
          </div>

          <input
            formControlName="id_photo"
            type="file"
            (change)="onChange($event)"
            class="form-control shadow"
            id="inputPhoto"
            accept="image/*"
            [ngClass]="{
              'is-invalid':
                addAnimal.get('id_photo')?.touched &&
                addAnimal.get('id_photo')?.invalid
            }"
          />
          <div
            *ngIf="
              addAnimal.get('id_photo')?.touched &&
              addAnimal.get('id_photo')?.invalid
            "
            class="invalid-feedback"
          >
            Un fichier au format photo est requis.
          </div>
        </div>
        <div class="btn_signin">
          <button
            type="submit"
            class="btn shadow-lg validbtn"
            [disabled]="addAnimal.invalid"
          >
            <strong>Ajouter votre animal</strong>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
