<div
  class="container filter-bar d-flex flex-row justify-content-between m-3 align-items-center border-color rounded shadow"
>
  <p class="m-3 filter">Filtrer par:</p>
  <div class="d-flex">
    <div
      class="btn-group"
      role="group"
      aria-label="Basic checkbox toggle button group"
    >
      <input
        type="checkbox"
        class="btn-check"
        id="btncheck1"
        autocomplete="off"
        value="Chien"
        (change)="onCheckCategory($event)"
      />
      <label class="btn btn-filter" for="btncheck1">Chien</label>

      <input
        type="checkbox"
        class="btn-check"
        id="btncheck2"
        autocomplete="off"
        value="Chat"
        (change)="onCheckCategory($event)"
      />
      <label class="btn btn-filter" for="btncheck2">Chat</label>

    <input
      type="checkbox"
      class="btn-check"
      id="btncheck3"
      autocomplete="off"
      value="NAC"
      (change)="onCheckCategory($event)"
    />
    <label class="btn btn-filter" for="btncheck3">NAC</label>

      <div class="btn-group" role="group">
        <select
          class="form-select"
          aria-label="Default select example"
          (change)="onCheckDpt($event)"
        >
          <option selected value="0">Departement</option>
          <option *ngFor="let departement of userDpt">{{ departement }}</option>
        </select>
      </div>

      <!-- genre -->

      <div class="btn-group" role="group">
        <select
          class="form-select"
          aria-label="Default select example"
          (change)="onCheckGender($event)"
        >
          <option selected>Genre</option>
          <option *ngFor="let gender of genderUser">{{ gender.gender }}</option>
        </select>
      </div>
    </div>

    
  </div>

