.btn-filter:active {
    background-color: #643E2B;
    color: #ffff;
}

.border-color {
    border: 2px solid #643E2B;
    max-width: 50%;
}

.filter {
font-size: 1.25em;
/* font-weight: bolder; */
}
