<div class="container filter-bar d-flex flex-row justify-content-between m-3 align-items-center border-color rounded shadow">
  <p class="m-3 filter">Filtrer par: </p>
  <div class="d-flex">
    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
  <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
  <label class="btn btn-filter" for="btncheck1">Chien</label>

  <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
  <label class="btn btn-filter" for="btncheck2">Chat</label>

  <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
  <label class="btn btn-filter" for="btncheck3">NAC</label>
   <div class="btn-group" role="group">
    <button type="button" class="btn btn-filter dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Département
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#"></a></li>
    </ul>
  </div>
   <div class="btn-group" role="group">
    <button type="button" class="btn btn-filter dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Genre
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#"></a></li>
    </ul>
  </div></div>
</div>
</div>
