/* .right{
  position: relative;
  display: flex;
} */

/* body{
	background-color: #eee;
}
.card{
	background-color: #fff;
	width: 100vh;
	border-radius: 33px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 2rem !important;
}
.top-container{
	display: flex;
	align-items: center;
}
.profile-image{
	border-radius: 10px;
	border: 2px solid #5957f9;
}
.middle-container{
	background-color: #eee;
	border-radius: 12px;

}

.recent-orders{
	font-size: 16px;
	font-weight: 700;
	color: #5957f9;
	margin-left: 2px;
}

.col-xs-2{
	width: 30vh;
}
.group-id{
	margin: 10px 10px;
	justify-content: space-around;
}

.group-descrip{
	margin: 0px 20px;
}

.btn{
	margin:0px 5px;
    border-radius: 50px;
}

.radius-20{
    border-radius: 20px;
} */
.btn-update {
	background-color: #643E2B;
    color: white;
    border-radius: 45px; 
    border: none;
}

.btn-delete {
	background-color: #ee510e;
    color: white;
    border-radius: 45px; 
    border: none;
}

.btn-next {
	background-color: #643E2B;
    color: white;
    border-radius: 20px; 
    border: none;
	text-align: center;
}

img {
	max-width: 50%;
}