


<h3>Mes animaux</h3>
<div class="top d-flex justify-content-between">
    
    <div *ngFor=" let myAnimal of RecupUserProfil.animal" class="right" >
        <img src="{{myAnimal.photo.path}}" alt="" width="200px">
        <div *ngIf="!isEditing && RecupUserProfil">{{myAnimal.name}}</div>
        <input *ngIf="isEditing" [(ngModel)]="myAnimal.name" placeholder="nom de l'user">

        <div *ngIf="!isEditing && RecupUserProfil">{{myAnimal.breed.breed}}</div>
        <input *ngIf="isEditing" [(ngModel)]="myAnimal.breed.breed" placeholder="âge de l'user">

        <div *ngIf="!isEditing && myAnimal">{{myAnimal.breed.species.species}}</div>
        <input *ngIf="isEditing" [(ngModel)]="myAnimal.breed.species.species" placeholder="race de l'user">

        <div *ngIf="!isEditing && myAnimal">{{myAnimal.age}}</div>
        <input *ngIf="isEditing" [(ngModel)]="myAnimal.age" placeholder="espèce de l'user">
        

        <button>Ajouter</button>
        <button (click)="toggleEdit()">{{isEditing ? 'Sauvegarder' : 'Modifier'}}</button>
        <button>Supprimer</button>

    </div>
</div>






































<!-- <div class="container d-flex justify-content-center mt-2">
    <div class="card w-100 ">
        <div class="d-flex flex-row">

            <div>
                <img src="https://cdn.unitycms.io/images/B9n7d8614fOAbH8d4xeisX.jpg?op=ocroped&val=1200,1200,1000,1000,0,0&sum=L81A9IOsKa8"
                    class="img-fluid profile-image shadow mytext d-flex justify-content-center" width="250px">
            </div>
            <div class="group-id  ">
                <form [formGroup]="formProfilanimal" (ngSubmit)="onSubmit()" class="formcontainer d-flex  align-items-start flex-row flex-wrap">
                    <div class="input-group mb-3 col-xs-2">
                        <span class="input-group-text shadow mytext" id="inputGroup-sizing-default">Prenom</span>
                        <input formControlName="firstname" type="text" class="form-control shadow mytext">
                    </div>
                    <div class="input-group mb-3 col-xs-2">
                        <span class="input-group-text shadow mytext" id="inputGroup-sizing-default">age</span>
                        <input formControlName="age" type="number" class="form-control shadow mytext">
                    </div>
                    <div class="input-group mb-3 col-xs-2">
                        <span class="input-group-text shadow mytext" id="inputGroup-sizing-default">Sexe</span>
                        <input formControlName="sex_animal" type="text" class="form-control shadow mytext">
                    </div>
                    <div class="input-group mb-3 col-xs-2">
                        <span class="input-group-text shadow mytext" id="inputGroup-sizing-default">Espèce</span>
                        <input formControlName="species" type="text" class="form-control shadow mytext">
                    </div>
                    <div class="input-group mb-3 col-xs-2">
                        <span class="input-group-text shadow mytext" id="inputGroup-sizing-default">Race</span>
                        <input formControlName="race" type="text" class="form-control shadow mytext">
                    </div>
                </form>
            </div>

        </div>
        <div class="d-flex flex-row justify-content-end text-right mr-2 ">
            <button type="submit" class="btn btn-warning">Ajoutetr</button>
            <button type="submit" class="btn btn-warning">Modifier</button>
            <button type="submit" class="btn btn-danger">Supprimer</button>
        </div>
    </div>
</div> -->