<div class="carousel">
  <div id="bottom-card-container">
    <div *ngFor="let animalProfil of animalsProfil; let i = index">
      <div *ngIf="currentAnimalIndex === 0 + i">
      
          <div class="d-flex justify-content-between">
            <div>
              <h3>Vos animaux</h3>
            </div>
            <div>
              <button (click)="toggleEdit(i)" class="btn btn-update m-2 shadow">
                {{ isEditing ? "Sauvegarder" : "Modifier" }}
              </button>
              <button class="btn btn-delete m-2 shadow" (click)="deleteMyAnimal(i)">Supprimer</button>
            </div>
          </div>
          <div class="d-flex flex-row m-4">
            <div class="w-75">
            <button
              class="btn btn-next shadow mx-2 p-2"
              *ngIf="animalsProfil.length > 1"
              (click)="previousAnimal()"
            >
              <span class="carousel-control-prev-icon"></span>
            </button>
            <img
              src="{{ animalProfil.picture }}"
              alt=""
              height="400px"
              class="rounded img-fluid"
            />
            <button
              class="btn btn-next shadow mx-2 p-2"
              *ngIf="animalsProfil.length > 1"
              (click)="nextAnimal()"
            >
              <span class="carousel-control-next-icon"></span>
            </button>
          </div>
          
          <div class="d-flex flex-column">
            
              <div *ngIf="!isEditing && animalProfil">
                Prénom: {{ animalProfil.name }}
              </div>
              <div *ngIf="isEditing">
                <label for="name">Prénom: </label>
                <input
                  id="name"
                  class="form-control m-2"
                  [(ngModel)]="animalProfil.name"
                  placeholder="{{ animalProfil.name }}"
                />
              </div>
              <div *ngIf="!isEditing && animalProfil">
                Âge: {{ animalProfil.age }} ans
              </div>
              <div *ngIf="isEditing">
                <label for="age">Âge: </label>
                <input
                  id="age"
                  class="form-control m-2"
                  [(ngModel)]="animalProfil.age"
                  placeholder="{{ animalProfil.age }}"
                />
              </div>
              <div *ngIf="!isEditing && animalProfil">
                Espèce: {{ animalProfil.breed.species.species }}
              </div>
              <div *ngIf="isEditing">
                <label for="specie">Espèce: </label>
                <input
                  id="specie"
                  class="form-control m-2"
                  [(ngModel)]="animalProfil.breed.species.species"
                  placeholder="{{ animalProfil.breed.species.species }}"
                  readOnly
                />
              </div>
              <div *ngIf="!isEditing && animalProfil">
                Race: {{ animalProfil.breed.breed }}
              </div>
              <div *ngIf="isEditing">
                <label for="breed">Race: </label>
                <input
                  id="breed"
                  class="form-control m-2"
                  [(ngModel)]="animalProfil.breed.breed"
                  placeholder="{{ animalProfil.breed.breed }}"
                  readonly
                />
              </div>
              <div *ngIf="!isEditing && animalProfil">
                Sexe: {{ animalProfil.sexAnimal.sex }}
              </div>
              <div *ngIf="isEditing">
                <label for="sex">Sexe: </label>
                <input
                  id="sex"
                  class="form-control m-2"
                  [(ngModel)]="animalProfil.sexAnimal.sex"
                  placeholder="{{ animalProfil.sexAnimal.sex }}"
                  readonly
                />
              </div>

              <!-- <div *ngIf="!isEditing && animalProfil">{{animalProfil.firstname}}</div>
        <input *ngIf="isEditing" [(ngModel)]="animalProfil.firstname" placeholder="âge de l'user">

        <div *ngIf="!isEditing && animalProfil">{{animalProfil.email}}</div>
        <input *ngIf="isEditing" [(ngModel)]="animalProfil.email" placeholder="race de l'user">

        <div *ngIf="!isEditing && animalProfil">{{animalProfil.city}}</div>
        <input *ngIf="isEditing" [(ngModel)]="animalProfil.city" placeholder="espèce de l'user"> -->
            </div>
          </div>
        </div></div>
      </div>
    </div>
  


<!-- <div class="container d-flex justify-content-center mt-2">
    <div class="card w-100 ">
        <div class="d-flex flex-row">

            <div>
                <img src="https://cdn.unitycms.io/images/B9n7d8614fOAbH8d4xeisX.jpg?op=ocroped&val=1200,1200,1000,1000,0,0&sum=L81A9IOsKa8"
                    class="img-fluid profile-image shadow mytext d-flex justify-content-center" width="250px">
            </div>
            <div class="group-id  ">
                <form [formGroup]="formProfilanimal" (ngSubmit)="onSubmit()" class="formcontainer d-flex  align-items-start flex-row flex-wrap">
                    <div class="input-group mb-3 col-xs-2">
                        <span class="input-group-text shadow mytext" id="inputGroup-sizing-default">Prenom</span>
                        <input formControlName="firstname" type="text" class="form-control m-2 shadow mytext">
                    </div>
                    <div class="input-group mb-3 col-xs-2">
                        <span class="input-group-text shadow mytext" id="inputGroup-sizing-default">age</span>
                        <input formControlName="age" type="number" class="form-control m-2 shadow mytext">
                    </div>
                    <div class="input-group mb-3 col-xs-2">
                        <span class="input-group-text shadow mytext" id="inputGroup-sizing-default">Sexe</span>
                        <input formControlName="sex_animal" type="text" class="form-control m-2 shadow mytext">
                    </div>
                    <div class="input-group mb-3 col-xs-2">
                        <span class="input-group-text shadow mytext" id="inputGroup-sizing-default">Espèce</span>
                        <input formControlName="species" type="text" class="form-control m-2 shadow mytext">
                    </div>
                    <div class="input-group mb-3 col-xs-2">
                        <span class="input-group-text shadow mytext" id="inputGroup-sizing-default">Race</span>
                        <input formControlName="race" type="text" class="form-control m-2 shadow mytext">
                    </div>
                </form>
            </div>

        </div>
        <div class="d-flex flex-row justify-content-end text-right mr-2 ">
            <button type="submit" class="btn btn-warning">Ajoutetr</button>
            <button type="submit" class="btn btn-warning">Modifier</button>
            <button type="submit" class="btn btn-danger">Supprimer</button>
        </div>
    </div>
</div> -->
