<app-nav-bar></app-nav-bar>
<div class="d-flex flex-column m-4">
<div class="d-flex justify-content-between">
<p [routerLink]="('/accueil')" class="back">&#x2190; Retour</p>
<img src="" alt="">
<div>
<p>Pseudo</p>
<p>Département</p>
<p>Ville</p>
<p>Description</p>
</div>
<button class="btn contact shadow">Contacter</button>
</div>
<div class="d-flex justify-content-evenly">
<p>Animaux :</p>
<img src="" alt="">
<div>
<p>Prénom :</p>
<p>Espèce :</p>
<p>Race :</p>
<p>Âge :</p>
<p>Sexe :</p>
</div>
</div>
</div>
