<app-nav-bar></app-nav-bar>
<div class="m-auto p-4 profile">
<div class="d-flex flex-column p-4 page card shadow ">
  <div class="d-flex justify-content-between card-body">
    <a  class="back" routerLink="/accueil/{{currentUser.id_user}}">&#x2190; Retour</a>
    <button class="btn contact shadow">Contacter</button>
  </div>
  <div class="d-flex">
    <img *ngIf="currentUser.photo" src="{{userImage}}" alt="" width="400px" class="shadow me-5" />
    <div class="mx-auto card-body text">
      <p>Pseudo: {{ currentUser.username }}</p>
      <p>Département: {{ currentUser.departement }}</p>
      <p>Ville: {{ currentUser.city }}</p>
      <p>Description: {{ currentUser.description }}</p>
    </div>
  </div>
  <div
    class="d-flex justify-content-evenly mt-5"
    *ngFor="let animal of currentUser.animal"
  >
    <div class="card-body text">
      <p>Prénom : {{ animal.name }}</p>
      <p>Espèce : {{ animal.breed.species.species }}</p>
      <p>Race : {{ animal.breed.breed }}</p>
      <p>Âge : {{ animal.age }}</p>
      <p>Sexe : {{ animal.sexAnimal.sex }}</p>
    </div>
    <img src="{{animal.picture}}" alt="" width="400px" class="shadow" />
  </div>
</div>
</div>
