<app-nav-bar-connexion-inscription></app-nav-bar-connexion-inscription>
<h1>CADA titre temporaire </h1>
<p>Bienvenue sur notre site de rencontres spécialement conçu pour les passionnés d'animaux de compagnie ! 

Que vous cherchiez un compagnon de promenade, des amis ou simplement quelqu'un qui comprend votre passion pour nos amis à poils, plumes ou écailles, vous êtes au bon endroit. Découvrez des personnes partageant votre passion pour les animaux, que vous soyez célibataire, à la recherche de nouvelles amitiés ou simplement envieux de voir vos compagnons devenir inséparables.

Laissez votre animal vous guider vers des amitiés inoubliables et peut-être... l'amour ? 

Rejoignez-nous, et qui sait, votre prochaine belle histoire pourrait commencer avec un simple "Wouaf" ou "Miaou" !</p>

<img src="../../../assets/jeune-femme-son-animal-compagnie-bouledogue-francais-dans-parc.jpg" alt="femme avec chien" height="200px">